@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Montserrat;
}

.fill{
  background-color: #FBEBB5;
}

.fill-items{
  background-color: #FAF4F4;
padding-top: 8vh;
  width: 100%;

}